<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>        
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>        
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>        
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>        
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <!-- End Bootstrap -->
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <script src="/scripts/General.js" type="text/javascript"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        
        
        
    </head>
    <body>
        <header class="main-header" th:fragment="header">
            <ul class="header-list">
                <li><i class="fas fa-home"></i><a th:href="@{/home}">Dashboard</a></li>
                <li><i class="fas fa-life-ring"></i>Soporte</li>
                <li><i class="fas fa-calendar"></i><a th:href="@{/calendario}">Calendario</a></li>
                <li><i class="fas fa-info-circle tour"></i>Tour</li>
            </ul>
        </header>
        <aside class="aside" th:fragment="aside">
            <h2 class="aside-title">Usuario Logueado</h2>
            <br>
            <ul class="aside-list">
                <li><i class=""></i><a th:href="@{/facturar}">Facturar</a></li>
                <li><i class=""></i><a th:href="@{/reportes}">Reportes</a></li>
                <li><i class=""></i><a th:href="@{/servicios}">Servicios</a></li>
                <li><i class=""></i><a th:href="@{/productos}">Productos</a></li>
                <li><i class=""></i><a th:href="@{/clientes}">Clientes</a></li>
                <li><i class=""></i><a th:href="@{/cuentasxcobrar}">CxC</a></li>
                <li><i class=""></i><a th:href="@{/descuentos}">Descuentos</a></li>
                <li><i class=""></i><a th:href="@{/aceptarGastos}">Aceptar Gastos</a></li>
                <li><i class=""></i><a th:href="@{/proveedores}">Proveedores</a></li>
                <li onclick="closeSession()"><i class="fas fa-arrow-right"></i> Cerrar Sesión</li>
            </ul>
        </<aside>
            <footer class="main-footer" th:fragment="footer">
                <p class="footer-text" >Copyright © Derechos Reservados 2023</p>
            </footer>
    </body>
</html>
